
@import "base/fonts";

@import "utils/variables";

@import "layout/header";
@import "layout/footer";

@import "components/loading";


body, p, h1, h3, ul, a
{
    font-family: roboto;
    margin: 0;
    padding: 0;
    text-decoration: unset;
    color: unset;
}

ul
{
    list-style: none;
}

main
{
    margin-top: 65px;
}

/* début du header */



/* fin du header */

/* section position */

.position
{
    background-color: $background_section_position;
    height: 50px;
    &__container
    {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        margin: auto;
        justify-content: center;
        align-items: center;
        & h5
        {
            margin-left: 15px;
        }
    }
}

/* fin de section position */

/* section presentation */

.presentation
{
    background-color: $background_global;
    padding: 40px 30px;
    text-align: center;
    &__container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & p
        {
            margin-top: 20px;
            margin-bottom: 35px;
        }
        & .btn
        {
            position: relative;
            z-index: 1;
            display: flex;
            background: linear-gradient($color-secondary, $color-primary);
            border: unset;
            color: #ffffff;
            font-weight: bolder;
            border-radius: 25px;
            width: 215px;
            height: 50px;
            box-shadow: 0 5px $blur-radius-btn $shadows;
            & p
            {
                margin: auto;
            }
            &:hover
            {
                &::after
                {
                    opacity: 1;
                }
            }
            &::after
            {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                border-radius: 25px;
                opacity: 0;
                background: linear-gradient(lighten($color-secondary, 3), lighten($color-primary, 3));
                box-shadow: 0 5px ($blur-radius-btn+3) $shadows;
                transition: opacity 350ms;
                z-index: -1;
            }
        }
    }
}

/* fin de section de presentation */

/* section fonctionnement */

.fonctionnement
{
    padding: 50px 5%;
    &__container
    {
        & a
        {
            width: 100%;
        }
        & h1
        {
            margin-bottom: 30px;
        }
        &__list
        {
            padding-left: 5%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            & a
            {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &__choices
            {
                position: relative;
                display: flex;
                flex-direction: row;
                height: 70px;
                width: 100%;
                margin-bottom: 25px;
                justify-content: center;
                align-items: center;
                background-color: $background_global;
                border-radius: 25px;
                box-shadow: 0 5px 15px $shadows;
                &__position
                {
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    color: #ffffff;
                    background-color: $color-primary;
                    display: flex;
                    left: -12.5px;
                    border-radius: 50%;
                    & p
                    {
                        margin: auto;
                    }
                }
                &__icon
                {
                    position: relative;
                    left: -10%;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px)
{
    .fonctionnement
    {
        &__container
        {
            &__list
            {
                padding: 0;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: stretch;
                &__choices
                {
                    max-width: 90%;
                }
            }
        }
    } 
}

/* fin de section fonctionnement */

/* section restaurants */

.restaurants
{
    padding: 50px 5%;
    padding-top: 70px;
    background-color: $background_global;
    & h1
    {
        margin-bottom: 30px;
    }
    &__contain
    {
        &__container
        {
            position: relative;
            overflow: hidden;
            background-color: #ffffff;
            width: 100%;
            height: 250px;
            margin-bottom: 20px;
            border-radius: 15px;
            box-shadow: 0 5px $blur-radius-btn $shadows;
            display: flex;
            flex-direction: column;
            &__block
            {
                flex: 1;
                &__image
                {
                    width: 100%;
                    height: 170px;
                    overflow: hidden;
                    & img
                    {
                        max-width: 100%;
                        height: auto;
                    }
                }
                &__content
                {
                    position: relative;
                    height: 60px;
                    padding: 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    &__text
                    {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        position: relative;
                        width: auto;
                        height: 100%;
                        font-size: 1.1rem;
                    }
                    &__logo
                    {
                        overflow: hidden;
                        position: relative;
                        right: 5%;
                        display: flex;
                        align-items: center;
                        font-size: 30px;
                        & i
                        {
                            &:hover
                            {
                                &::after
                                {
                                    transform: translateY(0px);
                                    opacity: 1;
                                }
                            }
                            &::after
                            {
                                content: '';
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                opacity: 0;
                                transform: translateY(50px);
                                background: linear-gradient($color-primary, $color-secondary);
                                transition: transform 500ms;
                            }
                        }
                    }
                }
                &__new
                {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    width: 90px;
                    height: 30px;
                    background-color: $color-tertiary;
                    display: flex;
                    border-radius: 2px;
                    & p
                    {
                        font-weight: bolder;
                        color: darken($color-tertiary, 40%);
                        margin: auto;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 600px)
{
    .restaurants
    {
        &__contain
        {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            &__container
            {
                margin: 0 10px;
                margin-bottom: 35px;
                width: 22%;
                min-width: 250px;
            }
        }
        
    }
}

/* fin de section restaurants */