
@import "base/fonts";

@import "utils/variables";

@import "layout/header";
@import "layout/footer";

@import "components/loading";

@import "pages/home";

body, p, h1, h3, ul, a
{
    font-family: roboto;
    margin: 0;
    padding: 0;
    text-decoration: unset;
    color: unset;
}

ul
{
    list-style: none;
}

main
{
    margin-top: 65px;
}