
@import "base/fonts";

@import "utils/variables";

@import "layout/header";
@import "layout/footer";

@import "components/loading";
@import "components/apparition-menu";
@import "components/back-button-header";
@import "components/like-menu";
@import "components/like-restaurant";

body, p, h1, h3, h4, ul, a
{
    font-family: roboto;
    margin: 0;
    padding: 0;
    text-decoration: unset;
    color: unset;
}

h1
{
    font-family: shrikhand;
}

ul
{
    list-style: none;
}

main
{
    background-color: $background_global;
    padding-bottom: 30px;
}

/* début section image__restaurants */

.image__restaurant
{
    background-image: url("../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-attachment: fixed;
    background-size: 110% auto;
    background-position: center;
    background-position-y: 65px;
    background-repeat: no-repeat;
    padding-top: 340px;
    width: 100%;
    height: auto;
    &__container
    {
        width: 100%;
        height: auto;
        & img
        {
            width: 100%;
        }
    }
}

@media screen and (min-width: 1024px)
{
    .image__restaurant
    {
        background-position-y: -200px;
        padding-top: 500px;
    }
}

.restaurant
{
    position: relative;
    padding: 30px 5%;
    margin-top: -50px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-size: 1.2rem;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: $background_global;
    overflow: hidden;
    &__like
    {
        width: auto;
        height: auto;
        display: flex;
        & i
        {
            font-size: 1.4em;
            border: 1px 2px solid blue;
            margin: auto;
            &.far.fa-heart
            {
                z-index: 2;
            }
            &.fas.fa-heart
            {
                position: absolute;
                top: 38px;
                z-index: 1;
            }
        }
    }
}

/* fin section image__restaurants */

/* section repas */

.repas
{
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    width: 90%;
    & h3
    {
        margin-bottom: 5px;
        margin-top: 30px;
    }
    & .underline
    {
        border-bottom: 3px solid $color-tertiary;
        transform: scaleX(0.08);
        transform-origin: left;
        margin-bottom: 20px;
    }
    &__container
    {
        width: 100%;
        &__choices
        {
            position: relative;
            margin-bottom: 15px;
            overflow: hidden;
            height: auto;
            display: flex;
            flex-direction: row;
            box-shadow: 0 5px 15px $shadows;
            border-radius: 15px;
            &__text
            {
                z-index: 1;
                flex: 1;
                position: relative;
                margin: 15px 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: clip ellipsis;
                & h4
                {
                    margin-bottom: 3px;
                }
            }
            &__right
            {
                z-index: 1;
                position: relative;
                margin-right: -60px;
                display: flex;
                flex-direction: row;
                background-color: $background_global;
                &__price
                {
                    display: flex;
                    align-items: flex-end;
                    margin: 15px 10px;   
                }
                &__like
                {
                    position: relative;
                    width: 60px;
                    display: flex;
                    background-color: $color-tertiary;
                    & i
                    {
                        font-size: 1.3em;
                        color: $background_global;
                        margin: auto;
                    }
                }
            }
        }
    }
}
.menu
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .btn
    {
        display: flex;
        justify-content: center;
        width: 90%;
        &__inside
        {
            & a
            {
                position: relative;
                display: flex;
                z-index: 1;
                margin-top: 30px;
                margin-bottom: 10px;
                background: linear-gradient($color-secondary, $color-primary);
                border: unset;
                color: #ffffff;
                font-weight: bolder;
                border-radius: 25px;
                width: 215px;
                height: 50px;
                box-shadow: 0 5px $blur-radius-btn $shadows;
                & p
                {
                    margin: auto;
                }
                &:hover
                {
                    &::after
                    {
                        opacity: 1;
                    }
                }  
                &::after
                {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    border-radius: 25px;
                    opacity: 0;
                    background: linear-gradient(lighten($color-secondary, 3), lighten($color-primary, 3));
                    box-shadow: 0 5px ($blur-radius-btn+3) $shadows;
                    transition: opacity 350ms;
                    z-index: -1;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px)
{
    .menu
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 35px 5%;
        .btn
        {
            width: 90%;
            margin-top: 20px;
            margin-bottom: unset;
        }
    }
    
    .repas
    {
        margin: 0 0px;
        width: 45%;
        min-width: 340px;
        padding: unset;
    }
}

/* fin de section repas */
