.footer
{
    color: #ffffff;
    padding: 5%;
    padding-bottom: 35px;
    padding-top: unset;
    background-color: $background_footer;
    &__title
    {
        font-family: shrikhand;
        padding: 15px 0;
    }
    &__list
    {
        & li
        {
            margin-bottom: 10px;
            & i
            {
                margin-right: 5px;
            }
        }
    }
}