@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
header {
  z-index: 5;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 10px grey;
  background-color: #f6f6f6;
}
header .image {
  height: 65px;
  width: 100%;
  display: flex;
}
header .image img {
  max-width: 50%;
  max-height: 50%;
  margin: auto;
}

.footer {
  color: #ffffff;
  padding: 5%;
  padding-bottom: 35px;
  padding-top: unset;
  background-color: #353535;
}
.footer__title {
  font-family: shrikhand;
  padding: 15px 0;
}
.footer__list li {
  margin-bottom: 10px;
}
.footer__list li i {
  margin-right: 5px;
}
.footer__list li a {
  width: 100%;
  color: #ffffff;
  text-decoration: none;
}

.repas__container--item1 {
  animation: apparition-menu 2000ms both;
}
.repas__container--item2 {
  animation: apparition-menu 2000ms 300ms both;
}
.repas__container--item3 {
  animation: apparition-menu 2000ms 600ms both;
}

@keyframes apparition-menu {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  30% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}
header .back {
  position: absolute;
  display: flex;
  width: 45px;
  height: 45px;
  top: 10px;
  left: 5%;
}
header .back a {
  margin: auto;
  display: flex;
}
header .back a:hover::after {
  opacity: 1;
}
header .back a::after {
  z-index: -1;
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 30px;
  transition: opacity 300ms;
  background: radial-gradient(#c3c3c3 0%, #f6f6f6 80%);
  background-color: #c3c3c3;
}
header .back a i {
  z-index: 1;
  margin: auto;
  font-size: 1.5em;
}

body, p, h1, h3, h4, ul, a {
  font-family: roboto;
  margin: 0;
  padding: 0;
  text-decoration: unset;
  color: unset;
}

h1 {
  font-family: shrikhand;
}

ul {
  list-style: none;
}

main {
  background-color: #f6f6f6;
  padding-bottom: 30px;
}

/* début section image__restaurants */
.image__restaurant {
  background-image: url("/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-attachment: fixed;
  background-size: 110% auto;
  background-position: center;
  background-position-y: 65px;
  background-repeat: no-repeat;
  padding-top: 340px;
  width: 100%;
  height: auto;
}
.image__restaurant__container {
  width: 100%;
  height: auto;
}
.image__restaurant__container img {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .image__restaurant {
    background-position-y: -200px;
    padding-top: 500px;
  }
}
.restaurant {
  position: relative;
  padding: 30px 5%;
  margin-top: -50px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  font-size: 1.2rem;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #f6f6f6;
  overflow: hidden;
}
.restaurant__like {
  width: auto;
  height: auto;
  display: flex;
}
.restaurant__like i {
  font-size: 1.4em;
  border: 1px 2px solid blue;
  margin: auto;
}

/* fin section image__restaurants */
/* sections repas */
.repas {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  width: 90%;
}
.repas h3 {
  margin-bottom: 20px;
  margin-top: 30px;
}
.repas__container {
  width: 100%;
}
.repas__container__choices {
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
  height: auto;
  display: flex;
  flex-direction: row;
  box-shadow: 0 5px 15px #C5C5C5;
  border-radius: 15px;
}
.repas__container__choices:hover > .repas__container__choices__right {
  transform: translateX(-60px);
  transition: transform 300ms;
}
.repas__container__choices:hover > .repas__container__choices__right i {
  transform: rotate(1turn);
  transition: transform 500ms;
}
.repas__container__choices__text {
  position: relative;
  flex: 1;
  margin: 15px 10px;
  white-space: nowrap;
  overflow: hidden;
  transform: scaleX(1);
}
.repas__container__choices__text h4 {
  margin-bottom: 3px;
}
.repas__container__choices__right {
  position: relative;
  right: -60px;
  display: flex;
  flex-direction: row;
  transform: translateX(0px);
}
.repas__container__choices__right__price {
  display: flex;
  align-items: flex-end;
  margin: 15px 10px;
}
.repas__container__choices__right__like {
  position: relative;
  width: 60px;
  display: flex;
  background-color: #99E2D0;
}
.repas__container__choices__right__like i {
  transform: rotate(0turn);
  font-size: 1.3em;
  color: #f6f6f6;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 35px 5%;
  }

  .repas {
    margin: 0 0px;
    width: 45%;
    min-width: 340px;
    padding: unset;
  }
}
/* fin de section repas */

/*# sourceMappingURL=alafrancaise.css.map */
