.repas
{
    &--item1
    {
        animation: apparition-menu 2000ms 2s both;
    }
    &--item2
    {
        animation: apparition-menu 2000ms 2.3s both;
    }
    &--item3
    {
        animation: apparition-menu 2000ms 2.6s both;
    }
}

@keyframes apparition-menu
{
    0%
    {
        opacity: 0;
        transform: translateY(-50px);
    }
    30%
    {
        transform: translateY(0);
    }
    100%
    {
        opacity: 1;
    }
}