.repas
{
    &__container
    {
        &__choices
        {
            &:hover
            {
                > .repas__container__choices__right
                {
                    transform: translateX(-60px);
                    transition: transform 300ms;
                    & i
                    {
                        transform: rotate(1turn);
                        transition: transform 500ms;
                    }
                }
            }
            &__text
            {
                transform: scaleX(1);
            }
            &__right
            {
                transform: translateX(0px);
                &__like
                {
                    & i
                    {
                        transform: rotate(0turn);
                    }
                }
            }
        }
    }
}