.image__restaurant
{
    background-image: url("../../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-attachment: fixed;
    background-size: 110% auto;
    background-position: center;
    background-position-y: -100px;
    background-repeat: no-repeat;
    padding-top: 340px;
    width: 100%;
    height: auto;
    &__container
    {
        width: 100%;
        height: auto;
        & img
        {
            width: 100%;
        }
    }
}

@media screen and (min-width: 1024px)
{
    .image__restaurant
    {
        background-position-y: -400px;
        padding-top: 500px;
    }
}