$background_section_position:#eaeaea;
$background_global: #f6f6f6;
$background_footer: #353535;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$shadows: #C5C5C5;
$blur-radius-btn: 15px;